<p id="notice"><%= notice %></p>

<p>
  <strong>Nomealuno:</strong>
  <%= @aluno.nomealuno %>
</p>

<p>
  <strong>Nomepai:</strong>
  <%= @aluno.nomepai %>
</p>

<p>
  <strong>Telpai:</strong>
  <%= @aluno.telpai %>
</p>

<p>
  <strong>Nomemae:</strong>
  <%= @aluno.nomemae %>
</p>

<p>
  <strong>Telmae:</strong>
  <%= @aluno.telmae %>
</p>

<p>
  <strong>Telefone3:</strong>
  <%= @aluno.telefone3 %>
</p>

<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
